doctype
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(src="/socket.io/socket.io.js")
		script(src="/js/socket.js")
		script(src="/js/paper.js")

	body(style="padding:0;")
		block content
